body{
    background-color: black;
    color: #F9DAD0;
    left: 0;
    top: 0;
    font-size: 20px;
}
.deck{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #A491D3;
    height: 50vh;
}

#hand{
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: space-between;
    max-width: 1080px;
    border: 4px solid #C5DCA0;
    padding: 10px;
}

#hand .card
{
    border: solid 1px #aaa;
    border-radius: 9px;
    width: 80px;
    height: 90px;
    background-color: white;
    padding: 3px 3px 3px 5px;
    margin: 5px;
    color: black;
    margin: auto;
    margin-left: 2px;
    font-size: 20px;
}

#hand:hover .card:hover{
    border: 2px solid #C5DCA0;
    transform: translateY(-2px);
}

.card2
{
    width: 50px;
    padding: 10px;
    border: solid 1px #808080;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    font-size: 22px;
    text-align: center;
    margin: 3px;
    border:solid 3px;
}

.card .value{
    font-size:15pt;
    font-family: sans-serif;
}

.card .type
{
	text-align: center;
}

.card .bamboos
{
	background-position-y: 100px;
}

.card .circles
{
	background-position-x: 90px;
}

.card .mans
{
	background-position-x:90px;
	background-position-y:100px;
}


.hand
{
    border: 1px solid white;
}


.texts{
    height: 30vh;
    margin-top: 1px;
    border: 2px solid #F5F2B8;
    color: #818AA3;
    display: flex;
    flex-direction:row;
    overflow: hidden;
}

/*
line separator
*/
.texts:before{
    content: "";
    border: 1px solid #F5F2B8;
    align-self: stretch;
}

.texts_start{
    order: -1;
    width: 60vh;
}

.texts_child{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 1 auto;
    padding: 30px;
}

.texts_end{
    align-items:center;
    justify-content: flex-start;
    color: #F9DAD0;
    max-width: 280px;
}

.footer{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

a:link, a:visited {
    background-color: #A491D3;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: #a491d3d3;
  }


  .buttons .btnRestart{
    background-color: rgb(243, 104, 104);
  }

  .buttons .btnRestart:hover{
    background-color: rgb(196, 84, 84);
  }


  @media screen and (max-width: 600px) {
    body{
        font-size: 12px;
    }
    #hand .card
    {
        border: solid 1px #aaa;
        border-radius: 9px;
        width: 80px;
        height: 90px;
        background-color: white;
        padding: 3px 3px 3px 5px;
        margin: 5px;
        color: black;
        margin: auto;
        margin-left: 2px;
        font-size: 20px;
    }
    #hand{
        display:flex;
        justify-content: space-between;
        max-width: 300px;
        border: 4px solid #C5DCA0;
        padding: 10px;
        overflow:scroll ;

    }

    .buttons{
        text-align: center;
    }

  }

  @media only screen and (max-width: 1200px) {
    body{
        font-size: 12px;
    }
    #hand .card
    {
        border: solid 1px #aaa;
        border-radius: 9px;
        width: 80px;
        height: 90px;
        background-color: white;
        padding: 3px 3px 3px 5px;
        margin: 5px;
        color: black;
        margin: auto;
        margin-left: 2px;
        font-size: 20px;
    }
    #hand{
        display:flex;
        justify-content: space-between;
        max-width: 600px;
        border: 4px solid #C5DCA0;
        padding: 10px;
        overflow:scroll ;

    }

    .buttons{
        text-align: center;
    }

  }